{% load static %}<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Unitrans Shifts Display{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>
  
  
  
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">Unitrans</a>
      </div>
    </nav>
  
  
    <div class="container">
      <ol class="breadcrumb my-4">
        {% block breadcrumb %}
        {% endblock %}
      </ol>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>